/*顶部部分开始*/
.top {
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #eea615;
}
.top .logo {
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
.top .logo>a {
    display: block;
    width: 200px;
    height: 140px;
}
/*顶部部分结束*/

/*中间登录部分开始*/
/*左边图片*/
.middle {
    width: 100%;
    overflow: hidden;
    background: #f0e2fc;
}
.middle .middle-w{
    width: 1200px;
    margin: 0 auto 90px;
    overflow: hidden;
}
.middle .middle-w>img {
    display: block;
    float: left;
    width: 662px;
    height: 332px;
    padding: 166px 0;
}
/*右边表单*/
.middle .middle-form {
    width: 480px;
    height: 588px;
    float: left;
    margin: 85px 0;
    border: 1px solid #cdcdcd;
}
.middle .middle-form>p {
    border-bottom: 2px solid #eea615;
    width: 410px;
    font: 18px/32px "Microsoft yahei";
    margin: 12px auto 20px;
    padding-left: 10px;
    color: #333;
}
.middle .middle-form form {
    width: 420px;
    overflow: hidden;
    margin: 0 auto;
}
.middle .middle-form form .box label {
    display: block;
    width: 360px;
    height: 50px;
    background: #fff;
    border: 1px solid #cdcdcd;
    font: 12px/50px "Microsoft yahei";
    padding-left: 18px;
    margin: 0 auto ;
}
.middle .middle-form form .box label>img {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 15px;
}
.middle .middle-form form .box>P {
    font: 12px/18px "Microsoft yahei";
    height: 20px;
    padding-left: 38px;
}

.middle .middle-form form .box label>span {
    display: inline-block;
    width: 75px;
}
.middle .middle-form form .box label>input {
    width: 250px;
    height: 50px;
    line-height: 50px;
    color: #999;
    border: none;
}

.middle .middle-form form>label {
    width: 248px;
    height: 50px;
    display: inline-block;
    background: #fff;
    border: 1px solid #cdcdcd;
    font: 12px/50px "Microsoft yahei";
    padding-left: 18px;
    margin: 0 18px 0 20px;
}
.middle .middle-form form>label>span {
    display: inline-block;
    width: 75px;
}
.middle .middle-form form>label>input {
    width: 140px;
    height: 50px;
    line-height: 50px;
    color: #999;
    border: none;
}
.middle .middle-form form>a {
    display: inline-block;
    width: 90px;
    height: 30px;
    border: 1px solid #eea615;
    font: 12px/30px "Microsoft yahei";
    text-align: center
}
.middle .middle-form form>span {
    display: block;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin: 14px 0 14px 20px;
}
.middle .middle-form form>span>i {
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    margin: 3px 6px 3px 0;
    border: 1px solid #8b8b8b;
}
.middle .middle-form form>span>a {
    color: #eea615;
}
.middle .middle-form form>input[type='button'] {
    display: block;
    margin: 0 auto;
    width: 362px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    padding: 0;
    background: url("../img/btnBG.png");
    cursor: no-drop;
}
/*中间登录部分结束*/
